<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardiansyahmnur.informasiclub_football">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InformasiClub_Football">
        <activity
            android:name=".AboutActivity"
            android:label="About Me"
            android:parentActivityName=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="Detail Club"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
//pada kode program diatas memiliki koneksi kedalam sebuah activity dan fragmen menjelaskan informasi penting tentang aplikasi Anda ke fitur build Android
//Aktivitas, layanan, dan penerima siaran aplikasi diaktifkan oleh intent. terddapat pesan yang ditentukan oleh objek Intent yang menjelaskan tindakan yang akan dilakukan, 
//termasuk data yang akan ditindaklanjuti, kategori komponen yang harus melakukan tindakan, dan instruksi lainnya.
//Ikon dan label yang disetel dalam <intent-filter> komponen ditampilkan ke halaman komponen tersebut ditampilkan sebagai opsi untuk memenuhi suatu intent. 
//Secara default, ikon ini diwarisi dari ikon mana saja yang dideklarasikan untuk komponen induk (baik elemen <activity> atau <application>),
//mengubah ikon untuk filter intent jika menyediakan tindakan unik yang Anda ingin tunjukkan lebih baik dalam dialog pemilih.
